.Profile-card a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.Profile-card {
  width: 100%;
  display: grid;
  row-gap: 0;
  column-gap: 12px;
  grid-template-areas:
    "name . ."
    "title . follow"
    "info . .";
  padding: 5px 0;
  place-items: center start;
}
.Profile-card--connection, .Profile-card--thread, .Profile-card--comment {
  grid-template-columns: 60px auto auto auto;
  grid-template-areas:
    "avatar . . ."
    "avatar name . ."
    "avatar title . follow"
    "avatar info . ."
    "avatar . . .";
}
.Profile-card--comment {
  grid-template-columns: 38px auto auto auto;
}
.Profile-card__name h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}
.Profile-card__name {
  grid-area: name;
}
.Profile-card--connection .Profile-card__name, .Profile-card--comment .Profile-card__name h1 {
  font-size: 14px;
  margin: 0;
}
.Profile-card__title h2 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.Profile-card__title {
  grid-area: title;
}
.Profile-card--connection .Profile-card__title, .Profile-card--comment .Profile-card__title h2 {
  font-size: 12px;
  margin: 0;
}
.Profile-card__info {
  font-size: 11px;
  margin: 0;
  grid-area: info;
}
.Profile-card--connection .Profile-card__info, .Profile-card--comment .Profile-card__info {
  font-size: 9px;
  margin: 0;
}
.Profile-card__avatar {
  grid-area: avatar;
}
.Profile-card__info a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.Profile-card__follow {
  grid-area: follow;
  justify-self: end;
}