.Profile-card a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.Profile-card {
  width: 100%;
  display: grid;
  row-gap: 0;
  column-gap: 12px;
  grid-template-areas:
    "name . follow"
    "title . follow"
    "info . follow";
  padding: 5px 0;
  place-items: center start;
}
.Profile-card--connection,
.Profile-card--thread,
.Profile-card--comment {
  grid-template-columns: 60px auto auto auto;
  grid-template-areas:
    "avatar . . ."
    "avatar name . follow"
    "avatar title . follow"
    "avatar info . follow"
    "avatar . . .";
}
.Profile-card--comment {
  grid-template-columns: 38px auto auto auto;
}
.Profile-card__name h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}
.Profile-card__name {
  grid-area: name;
}
.Profile-card--connection .Profile-card__name,
.Profile-card--comment .Profile-card__name h1 {
  font-size: 14px;
  margin: 0;
}
.Profile-card__title h2 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.Profile-card__title {
  grid-area: title;
}
.Profile-card--connection .Profile-card__title,
.Profile-card--comment .Profile-card__title h2 {
  font-size: 12px;
  margin: 0;
}
.Profile-card__info {
  font-size: 11px;
  margin: 0;
  grid-area: info;
}
.Profile-card--connection .Profile-card__info,
.Profile-card--comment .Profile-card__info {
  font-size: 9px;
  margin: 0;
}
.Profile-card__avatar {
  grid-area: avatar;
}
.Profile-card__info a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.Profile-card__follow {
  grid-area: follow;
  justify-self: end;
}
.Profile-card--home-page {
  width: 242px;
  height: 295px;
  padding: 18px;
  box-sizing: border-box;
  grid-template-columns: auto auto;
  grid-template-rows: 120px 32px 48px auto;
  place-items: center center;
  grid-template-areas:
    "avatar avatar"
    "name name"
    "title title"
    "info info";
  background: var(--color-black);
  border-radius: 18px;
}
.Profile-card--home-page .Profile-card__info {
  width: 100%;
}
.Profile-card--home-page .Profile-card__info a {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.Profile-card--home-page .Profile-card__info__connections-number {
  color: var(--primary-green-color);
}
