.Options-menu__toggle {
  z-index: 50;
}

.Options-menu__toggle__default-dots {
  transform: rotate(90deg);
}

.Options-menu__list {
  background: var(--color-black);
  color: var(--primary-text-color);
  z-index: 100;
}

.Options-menu__hidden-input {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.Options-menu__confirmation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Options-menu__confirmation__message {
  grid-column: span 2;
}

.Options-menu__button {
  width: 100%;
  margin-bottom: 12px;
}
