.Follow-button__error,
.Follow-button__done,
.Follow-button__progress {
  background-color: var(--color-black);
  color: var(--primary-text-color);
  display: grid;
  place-items: center center;
}
.Follow-button__error__message {
  color: var(--error-color);
}
.Follow-button__text {
  padding: 24px 0;
  white-space: nowrap;
}
.Follow-button__progress__spinner {
  width: 50px;
}
