.Content-clipper {
    display: grid;
    place-items: center center;
    grid-template-rows: auto 30px;
}
.Content-clipper__content {
    height: 100%;
    overflow: hidden;
}
.Content-clipper__button {
    background: var(--grey-background-color);
    font-size: 12px;
    font-weight: 400;
}