.SearchThreadComment__main {
  width: 100%;
  border-radius: 0px;
  background-color: var(--black-background-color);
  font-family: "Roboto", sans-serif;
  display: grid;
  margin-bottom: 2%;
}

.SearchThreadComment__query-string {
  font-weight: bold;
  font-style: italic;
  margin-left: 5%;
}

.SearchThreadComment__expand-parent-thread-button {
  padding: 2%;
  margin-left: 5%;
}

.SearchThreadComment__expand-parent-thread-button:hover {
  cursor: pointer;
}

.SearchThreadComment__parent-thread-excerpt {
  background-color: var(--color-green-0);
}

@media screen and (min-width: 920px) {
  .SearchThreadComment__main {
    border-radius: 10px;
  }
}
