.Network-page {
  background: var(--color-black);
  min-height: 100vh;
}
.Network-page__top-bar {
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 100%;
  place-items: center start;
  background: var(--primary-green-color);
  color: var(--color-black);
}

.Network-page__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.Network-page__back-icon {
  width: 20px;
  padding: 16px;
  fill: var(--color-black);
}

.Network-page__connections-list {
  list-style: none;
  padding: 0;
  margin: 6px 12px;
}
.Network-page__connections-list li {
  display: grid;
  place-items: center stretch;
  grid-template-columns: 1fr auto;
}
.Network-page__connections-list li:after {
  content: "";
  width: 100%;
  margin-left: 50px;
  margin-top: 4px;
  border-bottom: 1px solid var(--color-grey-2);
}

.connections-list__link {
  color: var(--primary-text-color);
  text-decoration: none;
}
