.Network-page {
  background: var(--color-black);
}

.Network-page__connections-list {
  list-style: none;
  padding: 0;
  margin: 6px 0;
  margin-left: 12px;
}
.Network-page__connections-list li {
  display: grid;
  place-items: center stretch;
  grid-template-columns: 1fr auto;

}
.Network-page__connections-list li:after {
  content: "";
  margin-left: 50px;
  margin-top: 4px;
  border-bottom: 1px solid var(--color-grey-2);
  grid-column: span 2;
}
.connections-list__link {
  color: var(--primary-text-color);
  text-decoration: none;
}

@media only screen and (min-width: 920px) {
  .Network-page {
    background: var(--grey-background-color);
  }
  .Network-page__main {
    display: grid;
    place-items: center stretch;
    overflow: hidden;
    padding: 18px;
    box-sizing: border-box;
    max-width: 860px;
    justify-self: center;
    width: 80%;
    margin-top: 20px;
    background: var(--color-black);
    border: solid 1px var(--active-icon-color);
    border-radius: 18px;
  }
}
