.Home-page {
  padding-bottom: 60px;
  box-sizing: border-box;
}

.Home-page__spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center center;
}
.Home-page__feed__list {
  margin: 0;
  padding: 0;
}
.Home-page__feed__list__item {
  margin: 16px 0;
  list-style: none;
}
.Home-page__error {
  color: var(--error-color);
}
.Home-page__post-maker-start {
  box-sizing: border-box;
  margin: 16px 24px 0 24px;
}
.Home-page__post-maker-start__button {
  width: 100%;
  display: grid;
  place-items: center center;
  grid-template-columns: 30px auto;
  background: var(--color-black);
}
.Home-page__post-maker-start h1 {
  font-size: 18px;
}