.Profile-page {
  padding-bottom: 60px;
  box-sizing: border-box;
}
.Profile-page__header {
  height: 60px;
}
.Profile-page__profile {
  background: var(--color-black);
}
.wrapper__Profile-page__wall-paper {
  overflow: hidden;
}
.Profile-page__wall-paper img {
  width: 150%;
  margin-left: -25%;
}
.Profile-page__wall-paper {
  background: linear-gradient(
    to right,
    var(--color-green-4),
    var(--color-green-2)
  );
}
.Profile-page__avatar {
  position: relative;
  top: -60px;
  margin: 0 8%;
  width: 80px;
  height: 80px;
}
.Profile-page__info {
  width: 100%;
  position: relative;
  top: -60px;
  padding: 12px 8%;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: start start;
  grid-template-columns: 9fr auto;
  column-gap: 4%;
  row-gap: 12%;
  grid-template-areas:
    "inputs edit"
    "inputs save";
  box-sizing: border-box;
}
.Profile-page__connections-count {
  font-size: 11px;
  margin: 4px 0;
}
.Profile-page__connections-count a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.Profile-page__info__edit {
  grid-area: edit;
  place-self: start end;
}
.Profile-page__info__save {
  grid-area: save;
  place-self: end end;
}
.Profile-page__editor {
  grid-area: inputs;
}
.Profile-page__error {
  position: absolute;
  bottom: -40px;
  font-size: 11px;
  color: var(--error-color);
}
.Profile-page__follow {
  grid-area: edit;
}
.Profile-page__follow .Follow-button__text {
  padding: 24px 0;
}

.ConnectionRequestMenu__main-body {
  display: grid;
  grid-template-areas: "header header"
                       "approve decline";
  border-radius: 2%;
  margin-top: -45px;
}

.ConnectionRequestMenu__options-body {
  display: contents;
}
.approve-option {
  grid-area: approve;
  margin: 2px;
  background-color: var(--color-grey-3);
  color: var(--color-black);
  text-align: center;
}

.decline-option {
  grid-area: decline;
  margin: 2px;
  background-color: var(--color-grey-3);
  color: var(--color-black);
  text-align: center;
}

.approve-option:hover {
  cursor: pointer;
  background-color: var(--primary-green-color);
}

.decline-option:hover {
  cursor: pointer;
  background-color: var(--color-red);
}

.ConnectionRequestMenu__header {
  grid-area: header;
  margin: 0px;
  border: 0.5px solid white;
  display: flex;
}

.ConnectionRequest__message {
  margin: 2px;
  text-align: center;
}

.connection-icon {
  margin: 4px;
}

@media (orientation: landscape) {
  .Profile-page__wall-paper {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 500px) {
  .ConnectionRequestMenu__main-body {
    margin-left: 50%;
    margin-right: 10px;
  }
}
