.Button {
  background: none;
  color: var(--primary-text-color);
  border: none;
  border-width: 1px;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.Button a {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Button.square {
  border-style: solid;
  border-radius: 2px;
  border-color: var(--color-green-3);
  height: 40px;
  padding: 0 12px;
}
.Button.round {
  border-style: solid;
  border-radius: 28px;
  height: 50px;
  width: 100%;
  font-size: 16px;
}
.Button.primary {
  background-color: var(--primary-green-color);
  color: var(--color-black);
}
.Button.primary:hover,
.Button.primary:active {
  background-color: var(--color-green-3);
  background-color: var(--grey-background-color);
}

.Button.plain {
  background-color: var(--color-black);
  border-style: none;
  color: var(--color-red);
  font-weight: lighter;
}
