:root {
  --color-green-0: #1a3627;
  --color-green-1: #185233;
  --color-green-2: #167341;
  --color-green-3: #209959;
  --color-green-4: #40b674;
  --color-green-5: #53ed97;
  --color-green-6: #b9ffd8;
  --color-green-7: #e5fff1;

  --color-blue-0: #0d2135;

  --color-orange-0: #d9532c;
  --color-orange-1: #f3ba63;

  --color-red: #d11124;
  --color-purple: #725f87;
  --color-brown: #955646;
  --color-pale: #efb4a4;

  --color-grey-0: #3c4545;
  --color-grey-1: #535a57;
  --color-grey-2: #9ea9a4;
  --color-grey-3: #ccd7d2;
  --color-grey-4: #ecf5f1;

  --color-white: #ffffff;
  --color-black: #000000;

  --error-color: var(--color-red);
  --primary-green-color: var(--color-green-4);
  --active-icon-color: var(--color-grey-3);
  --inactive-icon-color: var(--color-grey-2);
  --primary-text-color: var(--color-grey-3);
  --secondary-text-color: var(--color-grey-2);
  --grey-background-color: var(--color-grey-1);
  --black-background-color: var(--color-black);
  --green-background-color: var(--color-green-0);
}

body {
  margin: 0;
  background: var(--grey-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button {
  font: unset;
  font-family: "Roboto", sans-serif;
}

a {
  font: unset;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}