.Register {
  width: 100%;
  color: var(--color-black);
  display: grid;
  place-items: start center;
}
.Register__inputs {
  width: 95%;
}
.Register__inputs .Input {
  background: var(--color-black);
  border-radius: 0;
}
.Register__conditions {
  text-align: center;
  font-size: 12px;
}
@media only screen and (min-width: 920px) {
  .Register__conditions {
    color: var(--primary-text-color);
  }
}
.Register__buttons {
  display: grid;
  width: 95%;
  row-gap: 6px;
  margin: 24px 0;
}
.Register__submit {
  color: var(--color-black);
  background: var(--primary-green-color);
  font-weight: 400;
  font-size: 18px;
}
.Register__or-rule {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: var(--secondary-text-color);
  padding: 6px 0;
}
@media only screen and (min-width: 920px) {
  .Register__or-rule {
    display: inline-flex;
  }
}
.Register__or-rule__span {
  padding: 0 12px;
}
.Register__or-rule:before,
.Register__or-rule:after {
  display: block;
  background-color: var(--secondary-text-color);
  content: "";
  height: 1px;
  width: 40%;
}
.Register__join-with-google {
  color: var(--primary-green-color);
  background-color: var(--color-grey-2);
  border: solid 1px var(--primary-green-color);
  font-size: 18px;
}
.Register__already-registered {
  text-align: center;
}
.Register__already-registered a {
  font-weight: 700;
  color: var(--color-black);
  text-decoration: none;
}
@media only screen and (min-width: 920px) {
  .Register__already-registered a {
    color: var(--primary-green-color);
  }
}
.Register__google-icon {
  padding-right: 12px;
}
.Register__error {
  color: var(--error-color);
  list-style: none;
  padding: 0;
  margin: 0;
}
