.Password-recovery-request-page {
  background: linear-gradient(
    to right top,
    var(--color-green-2),
    var(--color-green-4)
  );
  height: 100vh;
}

.black-header-text {
  color: black;
}
#recoveryEmail {
  background-color: black;
}
.Password-recovery-request-page__header-bar{ 
  box-sizing: border-box;
  width: 100%;
  display: grid;
  padding: 12px 18px;
  place-items: end center;
}

.logo-centered {
  text-align: center;
}

.Register__buttons {
  width: 100%;
}

.Password-recovery-request-page__input_section {
  margin-top: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.square:hover {
  cursor: pointer;
}
.Password-recovery-request-page__captcha {
  margin-top: 5%;
}

.request-success-response-message {
  margin-left: 5%;
  margin-right: 5%;
}

.captcha-error-message {
  color: var(--error-color);
  background-color: black;
}



@media only screen and (min-width: 720px) {
  .Password-recovery-request-page__input_section {
    margin-left: 25%;
    margin-right: 25%;
  }
}
